<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="POST!">
    <meta property="og:site_name" content="pst.exo.icu">
    <meta property="og:description" content="Simple text storage">
    <meta property="og:image" content="https://live.staticflickr.com/1236/536368030_9a0975f535_b.jpg">
    <meta property="og:url" content="https://pst.exo.icu">
    <meta property="og:type" content="website">
    <title>POST! Simple text storage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Simple text storage">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        html, body, .container-fluid{
          min-height: 10%;
          height: 95%;
        }
        textarea{
            min-height: 95%;
        }
        form{
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid wrapper">
        <form action="/" method="post">
            <textarea class="form-control" id="data" name="data" placeholder="Insert your things here"></textarea>
            <input type="submit" value="POST!">
        </form>

</div>
<footer id="footer" class="fixed-bottom">
    <div class="container text-center">
      <small>Copyright &copy; exo.icu.</small>
      <small>Sources available on <a href="https://github.com/ex0hunt/pst">GitHub</a></small>
    </div>
  </footer>
</body>
</html>